* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  transition: all 0.2s;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background-blue: #1b3c53;
  --dark-blue: #234c6a;
  --dark-blue-hover: #296088;
  --blue: #456882;
  --blue-hover: #5483a7;
  --light-blue: #6690af;
  --light-blue-hover: #8fb4cf;
  --green: #7ed957;
  --yellow: #ffde59;
  --red: #db1414;
  --light-text-color: #faf1e7;
  --transparent: #ffffff13;
  --transparent-hover: #ffffff1e;
  --transparent-ligth: #ffffff1e;
  --transparent-ligth-hover: #ffffff2c;
  --transparent-border: #ffffff44;
}

#popup-materia {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  padding: 22px;
  background-color: var(--transparent);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  border: 1px solid var(--transparent-border);
  border-radius: 20px;
  backdrop-filter: blur(16px);
  min-height: 200px;
  max-width: 400px;
  animation: surgimentoPopup 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    forwards;
}

#popup-atividade-nova {
  color: var(--light-text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  padding: 22px;
  background-color: var(--transparent);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  border: 1px solid var(--transparent-border);
  border-radius: 20px;
  backdrop-filter: blur(16px);
  animation: surgimentoPopup 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    forwards;
  max-width: 600px;
}

#popup-atividade-nova label {
  margin-top: 10px;
}

#descricao-input {
  margin-top: 10px;
}

.espaco {
  margin-top: 20px;
}

@keyframes surgimentoPopup {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.7);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes desaparecimentoPopup {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.85);
  }
}

.saida {
  animation: desaparecimentoPopup 0.25s ease-in forwards !important;
}

.escondido {
  display: none !important;
}

.btn-metade {
  width: 50%;
}

#popup-materia h2,
h4 {
  font-size: 1.5rem;
  width: 100%;
  text-align: start;
  color: var(--light-text-color);
}

#popup-materia h4 {
  font-size: 1rem;
}

.input-popup {
  width: 100%;
}

.btns-popup {
  gap: 5px;
  display: flex;
  flex-direction: row;
}

.btns-popup button {
  width: 50%;
  padding: 5px;
}

.fundo-liquid-glass {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0f172a;
  z-index: -1;
  overflow: hidden;
}

.bola {
  position: absolute;
  background-image: linear-gradient(
    180deg,
    var(--background-blue),
    var(--blue)
  );
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.6;
  animation: moveLiquid 20s infinite alternate ease-in-out;
}

.bola-1 {
  color: var(--dark-blue);
  width: 500px;
  height: 500px;
  top: -10%;
  left: -10%;
}

.bola-2 {
  width: 600px;
  height: 600px;
  bottom: -20%;
  right: -10%;
  animation-duration: 25s;
}

.bola-3 {
  width: 400px;
  height: 400px;
  top: 40%;
  left: 50%;
  animation-duration: 18s;
}

@keyframes moveLiquid {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  50% {
    transform: translate(100px, -80px) scale(1.2);
  }
  100% {
    transform: translate(-50px, 50px) scale(0.8);
  }
}

main > section {
  display: none;
}

main > section.pagina-ativa {
  display: block;
}

.nav-link.ativo {
  background-color: var(--transparent-hover) !important;
  border: 1px solid var(--transparent-border);
}

main {
  padding-bottom: 20px;
}

body {
  height: 100vh;
}

header {
  background-color: var(--transparent);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--transparent-border);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(16px);
}

header h1 {
  color: var(--light-text-color);
  font-size: clamp(20px, 2vw, 25px);
  max-width: 100px;
}

header nav a {
  display: none;
  transition: all 0.2s;
}

header nav a:hover {
  background-color: var(--transparent-ligth-hover);
}

header nav i {
  color: var(--transparent-ligth);
  font-size: clamp(25px, 3vw, 30px);
}

header nav i:hover {
  color: var(--transparent-ligth-hover);
}

main {
  color: var(--light-text-color);
  min-height: 100vh;
}

.titulo {
  padding: 10px;
  text-align: center;
  font-size: clamp(30px, 4vw, 40px);
  font-weight: 800;
}

#header-ativo {
  background-color: var(--blue-hover);
}

.grid-1 {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.grid-1-cards {
  background-color: var(--transparent-ligth);
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 20px;
  backdrop-filter: blur(16px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid var(--transparent-border);
}

.grid-1-cards:hover {
  background-color: var(--transparent-ligth-hover);
}

.titulo-card-1 {
  margin-bottom: 5px;
  text-align: center;
  font-size: 20px;
}

.numero-card-1 {
  text-align: center;
  font-size: 40px;
}

.pagina-materias {
  margin: 0 !important;
  padding: 15px;
}

.licoes-container-materias {
  padding: 15px;
}

.licoes-container {
  margin: 15px;
  margin-bottom: 15px;
  background-color: var(--transparent);
  border: 1px solid var(--transparent-border);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 20px;
  padding: 15px;
}

.titulo-licoes {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 5px;
}

.descricao {
  margin-top: 5px;
}

.licao-container {
  padding: 12px;
  border-radius: 15px;
  background-color: var(--transparent-ligth);
  border: 1px solid var(--transparent-border);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(16px);
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  margin-top: 10px;
}

.licao-container:hover {
  background-color: var(--transparent-ligth-hover);
}

.nome-materia {
  text-align: center;
  font-size: clamp(15px, 3vw, 25px);
  margin-bottom: 5px;
}

.licao-info {
  font-size: clamp(8px, 2vw, 12px);
}

.dias-restantes {
  color: var(--green);
}

.prioridade {
  color: var(--red);
}

.licoes-grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
}

.licoes-grid-materia {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
}

.edicao-licao {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.btn-edicao-licao {
  border: 1px solid var(--transparent-border);
  padding: 8px;
  border-radius: 20px;
  font-size: clamp(10px, 4vw, 17px);
  background-color: var(--transparent);
  backdrop-filter: blur(16px);
  color: var(--light-text-color);
}

.btn-edicao-materia {
  justify-content: center;
}

.btn-edicao-licao:hover {
  cursor: pointer;
  background-color: var(--transparent-hover);
}

.opc-licoes-materia {
  display: flex;
  flex-direction: column;
}

.opc-licoes-materia div button {
  max-width: 150px;
}

.btn-adicionar-materia {
  border-radius: 20px;
  color: var(--light-text-color);
  padding: 8px;
  border: none;
  font-size: clamp(15px, 2vw, 20px);
  background-color: var(--transparent-ligth);
  border: 1px solid var(--transparent-border);
  max-width: 50%;
  align-self: center;
  margin-bottom: 5px;
}

.btn-adicionar-materia:hover {
  cursor: pointer;
  background-color: var(--transparent-ligth-hover);
}

.add-licao-container {
  padding: 15px;
  background-color: var(--transparent);
  backdrop-filter: blur(16px);
  border: 1px solid var(--transparent-border);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 20px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-materia {
  padding: 5px;
  background-color: var(--transparent-ligth);
  border: 1px solid var(--transparent-border);
  border-radius: 8px;
  outline: none;
  backdrop-filter: blur(4px);
  color: var(--light-text-color);
}

.input-materia::placeholder {
  color: var(--transparent-border);
}

.input-materia:focus {
  background-color: var(--transparent-border);
  padding: 10px;
}

.input-materia[type='date']::placeholder {
  color: var(--transparent-border);
}

.input-materia[type='date']::-webkit-datetime-edit-text,
.input-materia[type='date']::-webkit-datetime-edit-month-field,
.input-materia[type='date']::-webkit-datetime-edit-day-field,
.input-materia[type='date']::-webkit-datetime-edit-year-field {
  color: var(--light-text-color);
  font-style: italic;
}

.input-materia[type='date']::-webkit-calendar-picker-indicator {
  background-color: transparent;
  filter: invert(1);
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.input-materia[type='date']::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .opc-licoes-materia h1 {
    width: 50%;
  }

  .opc-licoes-materia div {
    width: 50%;
  }

  .opc-licoes-btns {
    justify-content: end;
    gap: 10px;
  }

  .fa-bars {
    display: none !important;
  }

  header {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }

  header h1 {
    max-width: none;
    font-size: clamp(30px, 4vw, 40px);
  }

  header nav {
    display: flex;
    gap: 10px;
    justify-content: space-around;
  }

  header nav i {
    display: none;
  }

  header nav a {
    display: flex;
    background-color: var(--transparent);
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--light-text-color);
    text-decoration: none;
    align-items: center;
  }

  .grid-1 {
    padding: 0;
    padding-bottom: 25px;
    max-width: 75%;
    margin: 0 auto;
  }

  .licoes-container {
    max-width: 75%;
    margin: 0 auto;
  }

  .licoes-container-materias {
    padding-top: 20px !important;
    max-width: 75%;
    margin: 0 auto;
    padding: 0;
  }

  .pagina-materias {
    max-width: 100%;
    margin: 0;
  }

  .licoes-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    align-items: start;
    width: 100%;
    margin: 0 auto;
  }

  .licoes-grid-materia {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    align-items: start;
    width: 100%;
    margin: 0 auto;
  }

  .licao-container {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: none;
  }

  .opc-licoes-materia {
    flex-direction: row;
    justify-content: space-between;
  }

  .btn-adicionar-materia {
    margin: 0;
  }

  .add-licao-container {
    max-width: 75%;
    margin: 12px auto;
  }
}

@media screen and (min-width: 1440px) {
  .grid-1 {
    flex-direction: row;
  }

  .grid-1-cards {
    max-width: 33.33%;
  }

  .licao-container {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .licao-info h2 {
    font-size: 20px;
  }

  .licoes-grid {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  .licoes-grid-materia {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  .add-licao-container {
    max-width: 30%;
  }
}
